doctype html
html
  head
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/styles.css')
  body
    div.container
      div.row
        div.col-md-8
          form(action="/", method='POST')
            h3 Send message to device
            div.form-group(class=error && responseError ? "has-error": "")
              input.form-control(type='text', name='registration-id', id='registration-id', placeholder='Device registration id', required='true')
              div.help-block(class=error && responseError ? "" : "hidden") #{errorMsg}
            div.form-group
              input.form-control(type='text', name='message', id='message', placeholder='message', required='true')

            p.bg-danger(class=error && badKey ? "" : "hidden") #{errorMsg}
            p.bg-success(class=success ? "" : "hidden") #{successMsg}
            button.btn.btn-success(type='submit') Send message

    script(src='javascripts/jquery-3.1.1.min.js')
    script(src='javascripts/bootstrap.min.js')
